---
layout: default
title: Papers Reading Club
---
<h1>Welcome to the Papers Club</h1>
<h2> Pinned</h2>
<h3> Next Paper</h3>
<a target="_blank" href="https://papers.nips.cc/paper/5423-generative-adversarial-nets.pdf">Generative Adversarial Networks</a>
<h3> Current Paper</h3>
<b>Paper:<a target="_blank" href="https://arxiv.org/pdf/1712.07557.pdf">Differentially Private Federated Learning: A Client Level Perspective</a></b>
<ul>
  <li>Soft Deadline (paper): 23:59, July, 1st, 2019 (all timezones)</li>
  <li>Hard Deadline (paper): 23:59, July, 4th, 2019 (all timezones)</li>
  <li>Soft Deadline (<a target="_blank" href="https://www.surveymonkey.com/r/2ZN8NGC">Quiz</a>): 23:59, July, 4th, 2019 (all timezones)</li>
  <li>Hard Deadline (<a target="_blank" href="https://www.surveymonkey.com/r/2ZN8NGC">Quiz</a>): 23:59, July, 8th, 2019 (all timezones)</li>
</ul>
<h2>Recent News</h2>

<!-- Pagination links -->
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous">
      Previous
    </a>
  {% else %}
    <span class="previous">Previous</span>
  {% endif %}
  <span class="page_number ">
    Page: {{ paginator.page }} of {{ paginator.total_pages }}
  </span>
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next">Next</a>
  {% else %}
    <span class="next ">Next</span>
  {% endif %}
</div>

<!-- Posts -->
<ul>
  {% for post in paginator.posts %}
    <li>
      <h2><a href="{{ post.url }}">{{ post.date | date_to_string }}</a> </h2>
      <p>{{ post.content }}</p>      
    </li>
  {% endfor %}
</ul>

<!-- Pagination links -->
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous">
      Previous
    </a>
  {% else %}
    <span class="previous">Previous</span>
  {% endif %}
  <span class="page_number ">
    Page: {{ paginator.page }} of {{ paginator.total_pages }}
  </span>
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next">Next</a>
  {% else %}
    <span class="next ">Next</span>
  {% endif %}
</div>
