<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

{% seo %}
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">


    <script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <style>
        .nav_header {color: #FDFDFB; padding: 0px 0px 0px 0px;margin: 10px 10px 10px 0px;}
        .nav_item {text-shadow: rgba(0, 0, 0, 0.4) 0 -1px 0;padding: 2px 2px 2px 12px;font-weight: bold;height: 30px;}
</style>
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1 class="header"><a href="/">Papers Club</a></h1>
        <h3 class="header nav_header">Current Reading</h3>
        <ul>         
            <li><a class="nav_item" target="_blank" href="https://papers.nips.cc/paper/5423-generative-adversarial-nets.pdf">Paper</a></li>
            <!--<li><a class="nav_item" target="_blank" href="">Quiz</a></li>                             -->
        </ul>
        <h3 class="header nav_header">Navigation</h3>
        <ul>
          <li><a class="nav_item" href="/hall_of_fame.html">Hall of Fame</a></li>
          <li><a class="nav_item" href="/implementation.html">Implementation</a></li>
          <li><a class="nav_item" href="/how_to_join.html">Club Code</a></li>
        </ul>

      </header>

      <section>
        {{ content }}
      </section>

      <footer>
        <p><small>Hosted on <a href="https://pages.github.com">GitHub Pages</a> using the Dinky theme</small></p>
      </footer>
    </div>
  </body>
</html>
